* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    @extend %flex-center;
    background: $bg-color-dark;


    .container {
        position: relative;

        .circle {
            position: absolute;
            border-radius: 50%;
            pointer-events: none;
            animation: 2s ease-in infinite alternate;

            &:nth-child(1) {
                width: 200px;
                height: 200px;
                top: -100px;
                left: -100px;
                background: linear-gradient(#07648f, #4824aa);
                animation-name: move-up;
            }

            &:nth-child(2) {
                width: 250px;
                height: 250px;
                top: 200px;
                left: 200px;
                background: linear-gradient(#7acc0e, #cf8a21);
                animation-name: move-down;
            }
        }


        .clock {
            width: 350px;
            height: 350px;
            @extend %flex-center;
            border: 2px solid rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            backdrop-filter: blur(15px);
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);

            &__bg {
                img {
                    filter: sepia(100%);
                }
            }

            &::before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background: #fff;
                border-radius: 50%;
                z-index: 15;
            }

            &__hour,
            &__minute,
            &__second {
                position: absolute;

                .hr,
                .min,
                .sec {
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    border-radius: 50%;
                }

                .hr {
                    &::before {
                        content: '';
                        position: absolute;
                        width: 8px;
                        height: 80px;
                        background: #aed456;
                        z-index: 10;
                        border-radius: 10px;
                    }
                }

                .min {
                    &::before {
                        content: '';
                        position: absolute;
                        width: 4px;
                        height: 100px;
                        background: #5c42a5;
                        z-index: 11;
                        border-radius: 8px;
                    }
                }

                .sec {
                    &::before {
                        content: '';
                        position: absolute;
                        top: -40px;
                        width: 2px;
                        height: 180px;
                        background: #db3333;
                        z-index: 12;
                        border-radius: 2px;
                    }
                }
            }
        }
    }

    @keyframes move-up {
        to {
            transform: translateY(-10px);
        }
    }

    @keyframes move-down {
        to {
            transform: translateY(5px);
        }
    }


}


.backDrop {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(10,15,20);
  }
  
  .pixel {
    display: none;
    height: 2px;
    width: 2px;
    border-radius: 1px;
    position: absolute;
    background-color: rgb(128,128,128);
  }
  
  .pageTop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pageTop h1 {
    padding: 0.125em 0.25em;
    background-color: rgba(218, 23, 23, 0.33);
    border-radius: 0.125em;
    color: rgba(255, 27, 198, 0.65);
  }